/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    min-height: 100vh;

    font-family: Arial, sans-serif;

    background:
    radial-gradient(
        circle at center,
        #850000 0%,
        #3d0012 25%,
        #180623 55%,
        #060408 80%,
        #000000 100%
    );

    background-attachment: fixed
}

/* CONTENEDOR PRINCIPAL */

.home {
    width: 100%;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 20px;
}

/* LOGO */

.logo {
    width: 95vw;
    height: auto;

    margin-bottom: 40px;
}

/* BOTONES */

.menu-grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 50px;
}

/* ENLACES */

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.2s ease;
}

.menu-button:hover {
    transform: scale(1.05);
}

/* ICONOS */

.menu-button img {
    width: 280px;
    height: auto;

    display: block;
}

/* MÓVIL */

@media (max-width: 600px) {

    .logo {
        width: 320px;
    }

    .menu-grid {
        gap: 20px;
    }

    .menu-button img {
        width: 130px;
    }

}
